@model TruckingLogistics.Models.Trailer.TrailerDetails

@{
    ViewBag.Title = "Details";
}

<h2>Trailer Details</h2>

<div>
    <h4>Trailer details listed below.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrailerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerVinNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerVinNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfTrailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfTrailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailerMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailerMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrailerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
    .h2, h3, h4 {
        color: gold;
    }

    body {
        background-image: url('../../Content/Assets/semis.jpeg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .dl-horizontal {
        color: gold;
        background-color: rgba(30,31,36, .7);
    }

    .submit-buttons {
        color: gold;
        background-color: rgba(30,31,36, .7);
        width: 120px;
    }

    a {
        color: gold;
    }

    dt {
        color: gold;
    }

    dd {
        color: gold;
    }
</style>